<!-- NGX LOADING -->
<ngx-loading-bar [includeSpinner]="false" [height]="'5px'" [color]="' #f2c512'"></ngx-loading-bar>

<!-- MY NAV -->
<nav class="navbar navbar-expand-lg navbar-light   fixed-top bg-dark">
  <div class="container-fluid"   data-aos="zoom-in-right">
    <!-- <a class="navbar-brand" routerLink=""> <span> AP </span> <img src="../assets/news-report.png" alt="News Logo"></a> -->
    <a class="navbar-brand mx-2"  routerLink="">  <img src="../assets/updated_logo.png" alt="News Logo"></a>
    <button class="navbar-toggler text-warning" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation " >
      <span class="navbar-toggler-icon  bg-white text-white"></span>
    </button>
    <div class="collapse navbar-collapse text-warning" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-3">
          <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/buisness" routerLinkActive="active">Buisness</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/health" routerLinkActive="active">Health</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sports" routerLinkActive="active">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/science" routerLinkActive="active">Science</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/entertainment" routerLinkActive="active">Entertainment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/general" routerLinkActive="active">Global News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/technology" routerLinkActive="active">Technology</a>
        </li>
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2"  placeholder="Search News" aria-label="Search"  (input)="showSearchNews($event)">
        <span class="btn btn-outline-warning" routerLink="search"   type="submit" (input)="showSearchNews($event)" > <i class="fa fa-search"></i></span>
      </form> -->
      <form>
     <button type="submit"  class=" euubtn btn btn-outline-warning  form-control me-2"  aria-label="Search" routerLink="search"  (input)="showSearchNews($event)">Search News  <i class="fa fa-search"></i></button>
    </form>
    </div>

  </div>
</nav>
<br>


<!-- <br><br><br> -->

<!-- <app-topheading></app-topheading> -->
<router-outlet></router-outlet>



<!-- 
<div class="card bg-dark text-white">
<div class="card-body">
  <div class="banner-content ">
    <div class="badge badge-danger fs-12 font-weight-bold mb-3">
      Latest news
    </div>

  <div
    class="d-flex border-bottom-blue pt-3 pb-4 align-items-center justify-content-between"
  >
    <div class="pr-3">
      <h5> BJP’s ‘Modi ki Guarantee’ pitch, devoid of local issues, has voters disappointed in Bharuch.</h5>
      <div class="fs-12">
        <span class="mr-2">Source</span>
      </div>
    </div>
    <div class="rotate-img">
      <img
        src="../assets/MODIJI.jpeg"
        alt="thumb"
        class="img-fluid img-lg"
      />
    </div>
  </div>

  <div
    class="d-flex border-bottom-blue pb-4 pt-4 align-items-center justify-content-between"
  >
    <div class="pr-3">
      <h5>Axis Bank overtakes Kotak Mahindra Bank, becomes 4th largest lender</h5>
      <div class="fs-12">
        <span class="mr-2">Source</span>BMC NEWS
      </div>
    </div>
    <div class="rotate-img">
      <img
        src="../assets/AXIS BANK.jpeg"
        alt="thumb"
        class="img-fluid img-lg"
      />
    </div>
  </div>

  <div
    class="d-flex pt-4 align-items-center justify-content-between"
  >
    <div class="pr-3">
      <h5>Official ICC Men's Cricket World Cup 2023 Website</h5>
      <div class="fs-12">
        <span class="mr-2">Source</span>ICC CRICKET
      </div>
    </div>
    <div class="rotate-img">
      <img
        src="../assets/MODI.jpeg"
        alt="thumb"
        class="img-fluid img-lg"
      />
    </div>
  </div>
</div>
</div>
</div>
</div> -->
<!-- </div> -->
<!--  -->
 <!--Main layout-->
 <div class="container">
  <!--Section: News of the day-->
  <!-- <section class="border-bottom pb-4 mb-5">
    <div class="row gx-5">
      <div class="col-md-6 mb-4">
        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
          <img src="https://mdbcdn.b-cdn.net/img/new/slides/080.webp" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">News of the day</span>
        <h4><strong>Facilis consequatur eligendi</strong></h4>
        <p class="text-muted">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
          eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
          sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
        </p>
        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Read more</button>
      </div>
    </div>
  </section> -->
  <!--Section: News of the day-->

  <!--Section: Content-->
  <!-- <section>
    <div class="row gx-lg-5">
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      
        <div>
        
          <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4"
            data-mdb-ripple-color="light">
            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
]
          <div class="row mb-3">
            <div class="col-6">
              <a href="" class="text-info">
                <i class="fas fa-plane"></i>
                Travels
              </a>
            </div>

            <div class="col-6 text-end">
              <u> 15.07.2020</u>
            </div>
          </div>

       
          <a href="" class="text-dark">
            <h5>This is title of the news</h5>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iste aliquid. Sed
              id nihil magni, sint vero provident esse numquam perferendis ducimus dicta
              adipisci iusto nam temporibus modi animi laboriosam?
            </p>
          </a>

          <hr />

          
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp"
                  class="img-fluid shadow-1-strong rounded" alt="Hollywood Sign on The Hill" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 15.07.2020</u>
                </p>
              </div>
            </div>
          </a>

          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp"
                  class="img-fluid shadow-1-strong rounded" alt="Palm Springs Road" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 15.07.2020</u>
                </p>
              </div>
            </div>
          </a>

         
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp"
                  class="img-fluid shadow-1-strong rounded" alt="Los Angeles Skyscrapers" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 15.07.2020</u>
                </p>
              </div>
            </div>
          </a>

          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp"
                  class="img-fluid shadow-1-strong rounded" alt="Skyscrapers" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 15.07.2020</u>
                </p>
              </div>
            </div>
          </a>
        </div>
       
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
      
        <div>
        
          <div class="bg-image hover-overlay shadow-1-strong rounded-5 ripple mb-4"
            data-mdb-ripple-color="light">
            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/011.webp" class="img-fluid"
              alt="Brooklyn Bridge" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>

       
          <div class="row mb-3">
            <div class="col-6">
              <a href="" class="text-danger">
                <i class="fas fa-chart-pie"></i>
                Business
              </a>
            </div>

            <div class="col-6 text-end">
              <u> 15.07.2020</u>
            </div>
          </div>

  
          <a href="" class="text-dark">
            <h5>This is title of the news</h5>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iste aliquid. Sed
              id nihil magni, sint vero provident esse numquam perferendis ducimus dicta
              adipisci iusto nam temporibus modi animi laboriosam?
            </p>
          </a>

          <hr />

       
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/031.webp"
                  class="img-fluid shadow-1-strong rounded" alt="Five Lands National Park" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 15.07.2020</u>
                </p>
              </div>
            </div>
          </a>

         
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/032.webp"
                  class="img-fluid shadow-1-strong rounded" alt="Paris - Eiffel Tower" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 15.07.2020</u>
                </p>
              </div>
            </div>
          </a>

   
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/033.webp"
                  class="img-fluid shadow-1-strong rounded" alt="Louvre" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 15.07.2020</u>
                </p>
              </div>
            </div>
          </a>

        
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/034.webp"
                  class="img-fluid shadow-1-strong rounded" alt="Times Square" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 15.07.2020</u>
                </p>
              </div>
            </div>
          </a>
     </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
   
        <div>
        
          <div class="bg-image hover-overlay shadow-1-strong rounded-5 ripple mb-4"
            data-mdb-ripple-color="light">
            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/018.webp" class="img-fluid"
              alt="Golden Gate National Recreation Area" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>

          <div class="row mb-3">
            <div class="col-6">
              <a href="" class="text-warning">
                <i class="fas fa-code"></i>
                Technology
              </a>
            </div>

            <div class="col-6 text-end">
              <u> 15.07.2020</u>
            </div>
          </div>

      
          <a href="" class="text-dark">
            <h5>This is title of the news</h5>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iste aliquid. Sed
              id nihil magni, sint vero provident esse numquam perferendis ducimus dicta
              adipisci iusto nam temporibus modi animi laboriosam?
            </p>
          </a>

          <hr />

     
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/011.webp"
                  class="img-fluid shadow-1-strong rounded" alt="Brooklyn Bridge" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 15.07.2020</u>
                </p>
              </div>
            </div>
          </a>

        
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/012.webp"
                  class="img-fluid shadow-1-strong rounded" alt="Hamilton Park" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 15.07.2020</u>
                </p>
              </div>
            </div>
          </a>

    
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/013.webp"
                  class="img-fluid shadow-1-strong rounded" alt="Perdana Botanical Garden Kuala Lumpur" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 15.07.2020</u>
                </p>
              </div>
            </div>
          </a>

    
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/014.webp"
                  class="img-fluid shadow-1-strong rounded" alt="Perdana Botanical Garden" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 15.07.2020</u>
                </p>
              </div>
            </div>
          </a>
        </div>
      
      </div>
    </div>
  </section> -->
  <!--Section: Content-->

  <!-- Pagination -->
  <!-- <nav class="my-4" aria-label="...">
    <ul class="pagination pagination-circle justify-content-center">
      <li class="page-item">
        <a class="page-link" routerLink="" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" routerLink="/science">1</a></li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" routerLink="/">2</a>
      </li>
      <li class="page-item"><a class="page-link" routerLink="/entertainment">3</a></li>
      <li class="page-item">
        <a class="page-link" routerLink="/">Next</a>
      </li>
    </ul>
  </nav>
</div> -->
<!--Main layout-->
<!--  -->

<!-- RESTURANT CARD  -->
<!-- <div class="container">
  <section class="mx-auto my-5" style="max-width: 23rem;">
      
    <div class="card" *ngFor="let of topNewsData">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img (5).jpg" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title font-weight-bold"><a>La Sirena restaurant</a></h5>
        <ul class="list-unstyled list-inline mb-0">
          <li class="list-inline-item me-0">
            <i class="fas fa-star text-warning fa-xs"> </i>
          </li>
          <li class="list-inline-item me-0">
            <i class="fas fa-star text-warning fa-xs"></i>
          </li>
          <li class="list-inline-item me-0">
            <i class="fas fa-star text-warning fa-xs"></i>
          </li>
          <li class="list-inline-item me-0">
            <i class="fas fa-star text-warning fa-xs"></i>
          </li>
          <li class="list-inline-item">
            <i class="fas fa-star-half-alt text-warning fa-xs"></i>
          </li>
          <li class="list-inline-item">
            <p class="text-muted">4.5 (413)</p>
          </li>
        </ul>
        <p class="mb-2">$ • American, Restaurant</p>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the
          card's content.
        </p>
        <hr class="my-4" />
        <p class="lead"><strong>Tonight's availability</strong></p>
        <ul class="list-unstyled list-inline d-flex justify-content-between">
          <li class="list-inline-item me-0">
            <div class="chip me-0">5:30PM</div>
          </li>
          <li class="list-inline-item me-0">
            <div class="chip bg-secondary text-white me-0">7:30PM</div>
          </li>
          <li class="list-inline-item me-0">
            <div class="chip me-0">8:00PM</div>
          </li>
          <li class="list-inline-item me-0">
            <div class="chip me-0">9:00PM</div>
          </li>
        </ul>
        <a href="#!" class="btn btn-link link-secondary p-md-1 mb-0">Button</a>
      </div>
    </div>
    
  </section>
</div> -->
<!--  --> 


<br><br><br><br><br>
<div  class="container-fluid mt-5" >
  <footer class="container-fluid footer py-3 my-4 bg-dark"  data-aos="zoom-out-up">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a routerLink="general" class="nav-link px-2 ">Worldwide News</a></li>
      <li class="nav-item"><a routerLink="/science" class="nav-link px-2 ">Science & Facts</a></li>
      <li class="nav-item"><a routerLink="/health"class="nav-link px-2 ">Health & Fitness</a></li>
      <li class="nav-item"><a routerLink="/sports" class="nav-link px-2 ">Sports & Entertainment</a></li>
      <li class="nav-item"><a routerLink="/buisness" class="nav-link px-2 ">Buisness & Trading</a></li>
      <li class="nav-item"><a routerLink="/entertainment" class="nav-link px-2 "> Bollywood Tadka'S</a></li>
      <li class="nav-item"><a routerLink="/technology" class="nav-link px-2 ">AI & Tech </a></li>
    </ul>
    <!-- <h6 class="text-center text-muted"> <a href="linkedin.com/in/aniket-potbhare-a98b32245">&copy; 2024 -Aniket Potbhare</a></h6> -->
     <div>
    <a href="http://linkedin.com/in/aniket-potbhare-a98b32245" target="_blank"><h6 class="text-center ">&copy; 2024 -Aniket Potbhare</h6></a>
  </div>
  </footer>

</div>
